<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>特色化案例库</title>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>


    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>

    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            min-width: 1200px;
        }

        .page-header {
            height: 50px;
        }

        .panel {
            margin-top: 200px;
            height: 648px;
            width: 1200px;
            margin: 0 auto;
        }

        .panel-heading {
            height: 30%;
            padding: 3px;
        }

        .panel-body {
            height: 75%;
            padding: 3px
        }

        .table-bordered>tbody>tr>th,
        .table-bordered>tbody>tr>td {
            border: solid 1px rgb(93, 156, 213);
            vertical-align: middle;
            background-color: rgb(189, 215, 238);
        }

        .table-bordered>tbody>tr>td {
            background-color: rgb(234, 239, 247);
        }


        img {
            max-height: 426px;
        }

        .el-drawer__wrapper {
            width: 15%;
            text-align: center;
        }

        input[name="title"] {
            float: left;
            border: 0;
            height: 30px;
            font-size: 25px;
        }

        input[name="title"]:focus {
            outline: none;
        }

        th input,
        td input {
            border: 0;
            font-size: 15px;
            background-color: transparent;
        }

        td input:focus {
            outline: none;
        }

        th input:focus {
            outline: none;
        }

        #pictb {
            background-color: rgb(234, 239, 247);
            border: solid 1px black;

        }

        #pictb>tbody>tr>th {
            background-color: rgb(210, 222, 239);
            border: solid 1px white;
        }

        #pictb>tbody>tr>td {
            border: solid 1px white;
        }

        .el-upload {
            margin: 0 auto;
            margin-top: 10px;
        }

        #myModal {
            height: 300px;
        }

        textarea {
            border: none;
            background-color: rgb(234, 239, 247);
        }

        textarea:focus {
            outline: none;
        }

        .el-image {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div id="main" style="width: 100%;height: 120%;">

        <div class="page-header">
            <sidebar @changepage="changepage" ref="mysidebar"></sidebar>
            <input name="title" placeholder="请输入标题" :value="info.title" @change="autosave"
                style="position:relative;left:10%;" />

            <span style="float: right; margin-right:5%">
                <button class="btn btn-danger" type="button" @click="deletePage"><span
                        class="glyphicon glyphicon-trash"></span></button>
                <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-down"
                        @click="addtonext">新建下一页</span></button>
                <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"
                        @click="addtoend">新增到尾部</span></button>
                <button class="btn btn-default" type="button" @click="showlast"><span
                        class="glyphicon glyphicon-chevron-left"></span></button>
                <button class="btn btn-default" type="button" @click="shownext"><span
                        class="glyphicon glyphicon-chevron-right"></span></button>
            </span>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <table id="mytable" class="table table-striped table-bordered"
                    style="height: 100%;width: 100%;margin:0">
                    <tr style="height:15.4%;width: 100%;">
                        <!--1-->
                        <th style="width: 8%;">案例编号</th>
                        <td style="width: 12%;"><input name="case-num" placeholder="请输入" style="width: 100%;"
                                @change="autosave" :value="info.case_num" /></td>
                        <th rowspan="2" style="width: 8%;">产品名称</th>
                        <td rowspan="2" style="width:12%"><input name="name" placeholder="请输入" style="width: 100%;"
                                @change="autosave" :value="info.name" />
                        </td>
                        <th style="width: 8%;">版本号</th>
                        <td colspan="3" style="width:32%"><input name="version" placeholder="请输入" style="width: 100%;"
                                @change="autosave" :value="info.version" /></td>
                        <th style="width: 8%;">记录日期</th>
                        <td style="width: 12%;"><input name="date" placeholder="请输入" style="width: 100%;"
                                @change="autosave" :value="info.date" /></td>
                    </tr>
                    <tr style="height:15.4%;width: 100%;">
                        <th style="width: 8%;">产品分类</th>
                        <td style="width: 12%;"><input name="product-class" placeholder="请输入" style="width: 100%;"
                                @change="autosave" :value="info.product_class" />
                        </td>
                        <th style="width: 8%;">应用分类</th>
                        <td colspan="3" style="width:32%"><input name="app-class" placeholder="请输入" style="width: 100%;"
                                @change="autosave" :value="info.app_class" /></td>
                        <th style="width: 8%;">记录人</th>
                        <td style="width: 12%;"><input name="recorder" :value="info.recorder" placeholder="请输入"
                                @change="autosave" style="width: 100%;" />
                        </td>
                    </tr>
                    <tr style="height:15.4%;width: 100%;">
                        <th style="width: 8%;">特色类型</th>
                        <td style="width: 12%;"><input name="feature" placeholder="请输入" style="width: 100%;"
                                @change="autosave" :value="info.feature" /></td>
                        <th rowspan="2" style="width: 8%;">特色摘要</th>
                        <td colspan="3" rowspan="2" style="width:32%"><input name="abstract" placeholder="请输入"
                                style="width: 100%;" @change="autosave" :value="info.abstract" />
                        </td>
                        <th rowspan="2" style="width: 8%;">应用思路</th>
                        <td colspan="3" rowspan="2" style="width:32%;"><input name="idea" placeholder="请输入"
                                style="width: 100%;" @change="autosave" :value="info.idea" />
                        </td>
                    </tr>
                    <tr style="height:15.4%;width: 100%;">
                        <th style="width: 8%;">案例页数</th>
                        <td style="width: 12%;"><input name="page-num" placeholder="请输入" style="width: 100%;"
                                @change="autosave" :value="info.page_num" /></td>
                    </tr>

                    <tr style="height: 38.4%;width: 100%;">
                        <th style="width:8%;">详细描述</th>
                        <td colspan="9" style="width: 92%;"><input name="detail" placeholder="请输入" style="width: 100%;"
                                @change="autosave" :value="info.detail" /></td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <table id="pictb" style="width: 100%;height:100%">
                    <tr style="height: 10.5%;">
                        <th style="width: 20%;"><input id="img-title0" :value="info.pics[0].title" style="width: 100%;"
                                @change="autosave" /></th>
                        <th style="width: 20%;"><input id="img-title1" :value="info.pics[1].title" style="width: 100%;"
                                @change="autosave" /></th>
                        <th style="width: 20%;"><input id="img-title2" :value="info.pics[2].title" style="width: 100%;"
                                @change="autosave" /></th>
                        <th style="width: 20%;"><input id="img-title3" :value="info.pics[3].title" style="width: 100%;"
                                @change="autosave" /></th>
                        <th style="width: 20%;"><input id="img-title4" :value="info.pics[4].title" style="width: 100%;"
                                @change="autosave" /></th>
                    </tr>
                    <tr style="height: 89%;">
                        <td style="width: 20%;text-align: center;"><img id="img0" @change="autosave"
                                :src="info.pics[0].path==''?'':('/'+info.pics[0].path)">
                        </td>
                        <td style="width: 20%;text-align: center;"><img id="img1" @change="autosave"
                                :src="info.pics[1].path==''?'':('/'+info.pics[1].path)">
                        </td>
                        <td style="width: 20%;text-align: center;"><img id="img2" @change="autosave"
                                :src="info.pics[2].path==''?'':('/'+info.pics[2].path)">
                        </td>
                        <td style="width: 20%;text-align: center;"><img id="img3" @change="autosave"
                                :src="info.pics[3].path==''?'':('/'+info.pics[3].path)">
                        </td>
                        <td style="width: 20%;text-align: center;"><img id="img4" @change="autosave"
                                :src="info.pics[4].path==''?'':('/'+info.pics[4].path)">
                        </td>
                    </tr>
                </table>
                <div id="imgsel" class="well well-lg" style="position: relative; top:20px;height:100px;padding: 10px;">
                    <div style="width: 20%;height:150px;display: inline;float: left;">
                        <el-button type="primary" size="small" @click="beforeUpload" round><span
                                class="glyphicon glyphicon-cloud-upload">上传</span></el-button>
                        <el-button type="success" size="small" @click="openBrowser" round><span
                                class="glyphicon glyphicon-folder-open">浏览</span></el-button>
                    </div>
                    <div style="width: 20%;display: inline;float: left;">
                        <el-button type="primary" size="small" @click="beforeUpload" round><span
                                class="glyphicon glyphicon-cloud-upload">上传</span></el-button>
                        <el-button type="success" size="small" @click="openBrowser" round><span
                                class="glyphicon glyphicon-folder-open">浏览</span></el-button>
                    </div>
                    <div style="width: 20%;display: inline;float: left;">
                        <el-button type="primary" size="small" @click="beforeUpload" round><span
                                class="glyphicon glyphicon-cloud-upload">上传</span></el-button>
                        <el-button type="success" size="small" @click="openBrowser" round><span
                                class="glyphicon glyphicon-folder-open">浏览</span></el-button>
                    </div>
                    <div style="width: 20%;display: inline;float: left;">
                        <el-button type="primary" size="small" @click="beforeUpload" round><span
                                class="glyphicon glyphicon-cloud-upload">上传</span></el-button>
                        <el-button type="success" size="small" @click="openBrowser" round><span
                                class="glyphicon glyphicon-folder-open">浏览</span></el-button>
                    </div>
                    <div style="width: 20%;display: inline;float: left;">
                        <el-button type="primary" size="small" @click="beforeUpload" round><span
                                class="glyphicon glyphicon-cloud-upload">上传</span></el-button>
                        <el-button type="success" size="small" @click="openBrowser" round><span
                                class="glyphicon glyphicon-folder-open">浏览</span></el-button>
                    </div>
                </div>
            </div>
        </div>

        <!--模态框 选择功能和银行版本-->
        <div class="modal fade" id="selcontainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel1">请选择</h4>
                    </div>
                    <div class="modal-body">
                        <selfunc @change="selchange"></selfunc>
                        <imguploader :index="whichtoupload" :selvalue="selvalue" :page="currentPage" ref="myuploader">
                        </imguploader>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="upload">上传</button>
                    </div>
                </div>
            </div>
        </div>

        <imgbrowser @choosepic="setpic"></imgbrowser>

    </div>



</body>

<script>
    var app = new Vue({
        el: "#main",
        components: {
            "sidebar": httpVueLoader("/sidebar.vue"),
            "imguploader": httpVueLoader("/imguploader.vue"),
            "imgbrowser": httpVueLoader("/imgbrowser.vue"),
            "selfunc": httpVueLoader("/selfunc.vue"),

        },
        data: {
            info: {
                pics: [{ order: 0, path: "" }, { order: 1, path: "" }, { order: 2, path: "" }, { order: 3, path: "" }, { order: 4, path: "" }]
            },
            task_name: null,
            currentPage: 1,
            whichtoupload: 0,
            selvalue: {}
        },
        created: function () {
            this.user = window.location.pathname.split("/")[1];
            this.task_name = window.location.pathname.split("/")[2];
            this.changepage(1);
        },
        methods: {
            showlast: function () {
                if (this.currentPage > 1) {
                    this.changepage(--this.currentPage);
                    this.$refs.mysidebar.changeItemColor(this.currentPage);
                }
            },
            shownext: function () {
                if (this.currentPage < this.$refs.mysidebar.data.length) {
                    this.changepage(++this.currentPage);
                    this.$refs.mysidebar.changeItemColor(this.currentPage);
                }
            },
            changepage: function (value) {
                let task_type;
                if (document.title === '竞品分析')
                    task_type = 1;
                else task_type = 2;
                axios.get(`${this.task_name}?p=${value}&type=${task_type}`).then(res => {
                    let obj = new Object();
                    obj.title = res.data.title;
                    obj.case_num = res.data.case_num;
                    obj.product_class = res.data.product_class;
                    obj.name = res.data.name;
                    obj.version = res.data.version;
                    obj.app_class = res.data.app_class;
                    obj.date = res.data.date;
                    obj.feature = res.data.feature;
                    obj.abstract = res.data.abstract;
                    obj.page_num = res.data.page_num;
                    obj.detail = res.data.detail;
                    obj.idea = res.data.idea;
                    obj.recorder = res.data.recorder;
                    obj.pics = res.data.pics;
                    obj.pics = [{ order: 0, path: "" }, { order: 1, path: "" }, { order: 2, path: "" }, { order: 3, path: "" }, { order: 4, path: "" }];
                    if (res.data.pics != undefined) {
                        for (let pic of res.data.pics) {
                            obj.pics[pic.order - 1].path = pic.path;
                            obj.pics[pic.order - 1].title = pic.title;
                        }
                    }
                    this.info = obj;
                    this.currentPage = value;
                    console.log(this.info);
                })
            },
            addtoend: function () {
                this.$refs.mysidebar.addtoend();
            },
            addtonext: function () {
                this.$refs.mysidebar.addtonext();
            },
            deletePage: function () {
                this.$confirm('确定要删除吗', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    if (this.currentPage > 1) {
                        axios.get(`${this.task_name}/deletepage?p=${this.currentPage}`).then(res => {
                            this.$refs.mysidebar.get_pages();
                            this.changepage(--this.currentPage);
                            this.$refs.mysidebar.changeItemColor(this.currentPage);
                            this.$message({
                                type: 'success',
                                message: '删除成功!',
                                duration: 2000
                            });
                        });
                    }
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },
            showlast: function () {
                if (this.currentPage > 1) {
                    this.changepage(--this.currentPage);
                    this.$refs.mysidebar.changeItemColor(this.currentPage);
                }
            },
            shownext: function () {
                if (this.currentPage < this.$refs.mysidebar.data.length) {
                    this.changepage(++this.currentPage);
                    this.$refs.mysidebar.changeItemColor(this.currentPage);
                }
            },
            autosave: function () {
                console.log($("#img-title0").val());
                $.ajax({
                    type: 'POST',
                    url: `${app.task_name}/autosave?p=${app.currentPage}&type=2`,
                    data: {
                        title: $("input[name='title']").val(),
                        case_num: $("input[name='case-num']").val(),
                        product_class: $("input[name='product-class']").val(),
                        name: $("input[name='name']").val(),
                        version: $("input[name='version']").val(),
                        app_class: $("input[name='app-class']").val(),
                        date: $("input[name='date']").val(),
                        feature: $("input[name='feature']").val(),
                        abstract: $("input[name='abstract']").val(),
                        page_num: $("input[name='page-num']").val(),
                        detail: $("input[name='detail']").val(),
                        idea: $("input[name='idea']").val(),
                        recorder: $("input[name='recorder']").val(),
                        imgtitle0: $("#img-title0").val(),
                        imgpath0: $("#img0").attr("src"),
                        imgtitle1: $("#img-title1").val(),
                        imgpath1: $("#img1").attr("src"),
                        imgtitle2: $("#img-title2").val(),
                        imgpath2: $("#img2").attr("src"),
                        imgtitle3: $("#img-title3").val(),
                        imgpath3: $("#img3").attr("src"),
                        imgtitle4: $("#img-title4").val(),
                        imgpath4: $("#img4").attr("src"),
                    },
                    success: function () {
                        app.$message({
                            type: 'success',
                            message: '自动保存',
                            duration: 2000
                        });
                    }
                })
            },
            beforeUpload: function (event) {
                $("#selcontainer").modal();
                if (event.target.tagName == 'SPAN') {
                    this.whichtoupload = $(event.target).parents('button').index('.el-button--primary')
                }
                else {
                    this.whichtoupload = $(event.target).index('.el-button--primary');
                }
                console.log(this.whichtoupload);
            },
            selchange: function (value) {
                this.selvalue.func = value[0];
                this.selvalue.bank = value[1][0];
                this.selvalue.ver = value[1][1];
            },
            upload: function () {
                this.$refs.myuploader.submitUpload();
                this.sleep(500);
                this.changepage(this.currentPage);
            },
            sleep: function (milli) {
                let start = new Date().getTime();
                while (new Date().getTime() < start + milli) { }
                return;
            },
            openBrowser: function (event) {
                $("#myModalimgb").modal();
                if (event.target.tagName == 'SPAN') {
                    this.whichtoupload = $(event.target).parents('button').index('.el-button--success')
                }
                else {
                    this.whichtoupload = $(event.target).index('.el-button--success');
                }
            },
            setpic: function (val) {
                $("#img" + this.whichtoupload).attr('src', '/' + val);
                $("#myModalimgb").modal('hide');
                this.autosave();

            }
        },
    })
</script>


</html>